<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
     
    </div>
    <a routerLink="/" class="btn btn-ghost text-xl font-montserrat">
      Debt
      <span class="text-secondary">| Manager</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    
  </div>
  <div class="navbar-end gap-4">
    @if ( authService.authStatus() === 'authenticated' ) {
    <button class="btn btn-ghost">
      {{ authService.user()?.name }}
    </button>
    <button class="btn btn-sm btn-error" (click)="authService.logout()">
      Salir
    </button>
    }
    <!--  -->
    @else if ( authService.authStatus() === 'not-authenticated' ) {
    <a routerLink="/auth/login" class="btn btn-secondary">Login</a>
    }
    <!--  -->
    @else {
    <a class="btn btn-ghost">Cargando...</a>
    }
  </div>
</div>